* {
  margin: 0;
  padding: 0; }

body {
  background-color: black; }


.canvas, #background, #foreground {
  position: absolute; }

#background {
  z-index: 0; }

#foreground {
  z-index: 1; }

#game {
  height: 400px;
  width: 1000px; }
