* { margin: 0; padding: 0; }

body {
  background-color: black;
}

#game {
  
}

.canvas {
  position: absolute;
}
  
#background {
  @extend .canvas;
  z-index: 0;
}
#foreground {
  @extend .canvas;
  z-index: 1;
}

#game {
  height: 400px;
  width: 1000px;
}